@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.cardWidthAndHeight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardGenerator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardGeneratorButton {
  border-radius: 5px;
  background-color: rgb(75, 75, 75);
  color: white;
}

.cardGeneratorButton:hover {
  border-radius: 5px;
  background-color: rgb(119, 119, 119);
  color: white;
}

.cardGeneratorButton:active {
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  color: white;
}

.card,
.card2,
.card3,
.card4,
.card5 {
  background-color: white;
  border-radius: 20px;
  height: 400px;
  width: 290px;
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
}

.numberR {
  color: red;
  font-size: 1260%;
  position: absolute;
  margin-top: -20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberB {
  color: black;
  font-size: 1260%;
  margin-top: -20px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  color: red;
  font-size: 350%;
  top: -20px;
  left: 10px;
  position: absolute;
}

.heart2 {
  color: red;
  font-size: 350%;
  bottom: -15px;
  right: 10px;
  position: absolute;
  transform: rotate(180deg);
}

.diamond {
  color: red;
  font-size: 350%;
  top: -20px;
  left: 10px;
  position: absolute;
}

.diamond2 {
  color: red;
  font-size: 350%;
  bottom: -15px;
  right: 10px;
  position: absolute;
  transform: rotate(180deg);
}

.spade {
  color: black;
  font-size: 350%;
  top: -20px;
  left: 10px;
  position: absolute;
}

.spade2 {
  color: black;
  font-size: 350%;
  bottom: -15px;
  right: 10px;
  position: absolute;
  transform: rotate(180deg);
}

.club {
  color: black;
  font-size: 350%;
  top: -20px;
  left: 10px;
  position: absolute;
}

.club2 {
  color: black;
  font-size: 350%;
  bottom: -15px;
  right: 10px;
  position: absolute;
  transform: rotate(180deg);
}
